
/* General colours */
.theme-dark {
	--background-primary: #19242b;
	--background-primary-alt: #19242b;
	--background-secondary: #202d36;
	--background-secondary-alt: #202d36;
	--background-modifier-border: #141d26;

	--text-accent: #3388dd;
	--text-accent-hover: #4499ff;
	--text-normal: #e3e4e5;
	--text-muted: #aaa;
	--text-highlight-bg: rgba(255, 220, 0, 0.4);
	--font-monospace: "Hasklig", "Source Code Pro", monospace;
}

* {
	font-family: "Hasklig", sans-serif;
}

.cm-s-obsidian .hmd-fold-html-stub, .cm-s-obsidian .hmd-fold-code-stub, .cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code, .cm-s-obsidian .cm-formatting-hashtag, .cm-s-obsidian .cm-inline-code, .cm-s-obsidian .HyperMD-codeblock, .cm-s-obsidian .HyperMD-hr, .cm-s-obsidian .cm-hmd-frontmatter, .cm-s-obsidian .cm-hmd-orgmode-markup, .cm-s-obsidian .cm-formatting-code, .cm-s-obsidian .cm-math, .cm-s-obsidian span.hmd-fold-math-placeholder, .cm-s-obsidian .CodeMirror-linewidget kbd, .cm-s-obsidian .hmd-fold-html kbd {
	font-family: "Hasklig", "Source Code Pro", monospace;
}

/* Specifically inline and plain syntax code blocks. */
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian pre.HyperMD-codeblock,
.markdown-preview-view code {
	color: #da7;
}

.markdown-preview-view pre,
.markdown-preview-view pre * {
	background-color: #202d36;
	padding-left: 28px;
}

/* LaTeX blocks. */
.CodeMirror .cm-math {
	color: #d7455e;
}

.cm-s-obsidian span.cm-hmd-internal-link:hover {
	text-decoration: none;
	/* cursor: pointer; */
}

.markdown-preview-view .internal-link {
	text-decoration: none;
}

.cm-s-obsidian pre.HyperMD-header.HyperMD-header-1,
.markdown-preview-view h1 {
	font-weight: 600;
	color: #86a;
}

.cm-s-obsidian pre.HyperMD-header.HyperMD-header-2,
.cm-s-obsidian pre.HyperMD-header.HyperMD-header-3,
.markdown-preview-view h2,
.markdown-preview-view h3 {
	font-weight: 600;
	color: #8b6bab;
}

.cm-s-obsidian pre.HyperMD-header.HyperMD-header-4,
.cm-s-obsidian pre.HyperMD-header.HyperMD-header-5,
.cm-s-obsidian pre.HyperMD-header.HyperMD-header-6,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
	font-weight: 600;
	color: #97b;
}

.markdown-preview-view blockquote {
	color: #ccc;
	border: 0px solid #ccc;
	border-left-width: 3px;
	padding: 4px 8px;
	margin-inline-start: 24px;
}

.markdown-preview-view tr:nth-child(odd) {
	background: unset;
}

.markdown-preview-view tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}
